{{!-- <div class="hover:bg-slate-200 dark:hover:bg-gray-900 transition fade ease-in-out cursor-pointer ">
    <div class="p-4">
        <img src="{{feature_image}}">
        <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
    </div>
</div> --}}

{{!-- <div class="hover:bg-slate-200 dark:hover:bg-gray-900 transition fade ease-in-out cursor-pointer"> --}}
    {{!-- <div class="p-4"> --}}
        {{!-- <img class="w-full overflow-hidden h-72" src="{{feature_image}}" /> --}}
        {{!-- {{#if tags}}
        {{#foreach tags limit="2"}}
        <p class="block text-sm text-indigo-500 font-medium p-1 mb-2">
            <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
        </p>
        {{/foreach}}
        {{/if}} --}}
        {{!-- <p class="text-black dark:text-white font-bold"> <a href="{{url}}">{{title}}</a></p> --}}
        {{!-- <p class="text-gray-600 dark:text-gray-300"> <a href="{{url}}">{{excerpt}} </a></p> --}}
        {{!--
    </div> --}}
    {{!-- </div> --}}

<a href="{{url}}"
    class="hover:bg-slate-100 dark:hover:bg-gray-900 transition fade ease-in-out cursor-pointer rounded-xl">
    <div class="p-4">
        <img class="w-full overflow-hidden h-72 rounded-xl" src="{{feature_image}}" />
        <p class="text-black dark:text-white font-bold text-lg pt-2"> {{title}}</p>
        <p class="text-gray-600 dark:text-gray-400"> {{excerpt}}</p>
    </div>
</a>